<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>School Stories</title>

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-slider.min.css" rel="stylesheet">

    <!-- leaflet --> 
    <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />

    <link href="css/schoolstories.css" rel="stylesheet">    


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  <!-- MODAL MODAL MODAL -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Events for {{Literacy_Level}} on 22 February 2011 for Christchurch Boys High</h4>
        </div>
        <div class="modal-body">
            <div class="events">
              <h4>This School's Stories</h4>
              <hr>
              <p><strong>Christchurch earthquake!</strong> Submitted on 22 February 2011 by Roger Bannister</p>
              <hr>
              <p><strong>Another earthquake!</strong> Submitted on 22 February 2011 by Roger Bannister</p>
              <hr>
              <p><strong>More earthquakes :(</strong> Submitted on 22 February 2011 by Roger Bannister</p>
              <hr>
              <h4>National Stories</h4>
              <hr>
              <p><strong>Auckland house prices go up again</strong> Submitted on 22 February 2011 by Roger Bannister</p>
              <hr>
 
            </div>
            <hr>
            <h4>Add a new event</h4>
            <form class="form-inline">
              <div class="form-group">
                <label class="sr-only" for="event">What was the event?</label>
                <input type="text" class="form-control" id="event" placeholder="What was the event?">
              </div>
              <div class="form-group">
                <label class="sr-only" for="event-adder">What's your name</label>
                <input type="text" class="form-control" id="event-adder" placeholder="What's your name?">
              </div>
              <button type="submit" class="btn btn-default">Add event</button>
            </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
<!-- MODAL ENDS MODAL -->

  <div class="container-fluid">
    <div class="jumbotron">
      <div class="container">
      <h1>School Story, bro</h1>
      <p>How has your school become your school?</p>
      </div>
      <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </span>
        </div><!-- /input-group -->
    </div>
    
    <div class="row">
      <div class="col-sm-4">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2>Christchurch Boys High</h2>
        <p>123 Name Street, Nametown, Christchurch</p>
        
        <div class="list-group">
            <a href="#" class="list-group-item active" id="literacy">
              Literacy level
            </a>
            <a href="#" class="list-group-item">Role size</a>
            <a href="#" class="list-group-item">ERO score</a>
            <a href="#" class="list-group-item" id="numeracy">Numeracy</a>
        </div>
       <button type="button" class="btn btn-link">View the map again</button>
      </div>
      <div class="col-sm-8">
        <h4 class="lead">What happened with Literacy over the past 10 years and why?</h4>
        <p>Hover over the graph and look at the points to see the various events that happened at that particular time and to add your own events.<p>
        <div>
        	<a data-toggle="modal" href="#myModal">
        		<div id="chart" style="width: 100%; height: 400px; border: 1px solid #AAA;"></div>
        	</a>
        </div>

      </div>
    </div>
     <hr>

    <footer>
        <p>Made for <a href="https://twitter.com/search?q=%23govhacknz&src=typd">#GovHackNZ</a></p>
    </footer>
  </div>

    
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type='text/javascript' src='js/chart.js'></script>
    <script type='text/javascript' src='js/schoolstories.js'></script>
    <script type='text/javascript' src='maps/leaflet.js'></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='maps/markers.json'></script>
    <script type='text/javascript' src='maps/leaf-demo.js'></script>
  


  </body>
</html>