.jumbotron a {
	color: #fff;
	text-decoration: none;
}

.jumbotron a:hover {
	text-decoration: none;
	color: #fff;
}

body {

}

.jumbotron {
	background: url(../img/chalkboard.jpg);
	color: #fff;
}

.jumbotron h1 {
	font-family: 'Permanent Marker', cursive;
	font-style: italic;
}


.filter {
	margin-top: 20px;
	text-align: center;
}

#chart .explanation {
	padding: 4%;
}
